<!DOCTYPE html>
<html>
	<head>
		<title>Drawline</title>
		<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
	</head>

	<body>
		<h1 id = "Header"> Drawline </h1>
		<div id="container">
			<div id = "usersDiv">
				<div id = "usersVotes">
						<div id = "userOwnVote">
							<p> You have voted </p> <p id=specificUserVote></p>
							<input id = "voteButtonID" type = "button" value = "Change vote" name = "vote_button">
						</div>
						<div id = "procentOfTrueVotes">
							<!-- <p> Current procent of votes for clearing canvas </p> -->
							<p id=prcForClear></p>
						</div>
				</div>
					<div id = "users">
					<p id = "usersHeader">Online Users</p>
					<ul id = onlineUsersList></ul>
				</div>
			</div>

			<div id ="content">
				<canvas id="canvas" width="600" height="600"></canvas>
			</div>

			<div id="controlDiv">
				<div id="sizeDiv">
					<p> Color </p>
					<select id="size">
						<option value="2">2</option>
						<option value="5">5</option>
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
					</select>
				</div>
				<div id="colorDiv">
					<p> Size </p>
					<select id="color">
						<option value="red">Red</option>
						<option value="black">Black</option>
						<option value="pink">Pink</option>
					</select>
				</div>
			</div>
		</div>
	</body>
	<script src = "/socket.io/socket.io.js"></script>

	<script>
	  	var socket = io();

	    socket.on('connect', function(data) {
				socket.emit('wantCanvas');
	    });

			setInterval(function(){
				var c = document.getElementById("canvas");
			 	var d = c.toDataURL()	;
			 	socket.emit('canvas', d);
	    },1000);

	</script>
	<script src="../scripts/canvasScript.js"> </script>
	<script src = "../scripts/userScript.js"></script>

</html>
