<!DOCTYPE html>
<html>
	<head>
		<title>Drawline</title>
		<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
		<script src="../scripts/jscolor.js"></script>
		<script src="https://rawgit.com/eligrey/FileSaver.js/master/FileSaver.js"></script>
		<script src ="https://rawgit.com/eligrey/canvas-toBlob.js/master/canvas-toBlob.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="//bulma.io/css/bulma-docs.css">
	</head>

	<body>
		<div id="mySidenav" class="sidenav">
			<div id="header">
				<p id="drawline"> Drawline </p>
			  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
			</div>
			<p> Size </p>
		  <input type="range" id="size" min="2" value="10" max="30" step="2">
			<div id="colorDiv">
			  <p>Color</p>
			  <input id = "color" class="jscolor" value="ab2567">
			</div>
			<progress id="vStats" max="100"></progress>
			<p id="specificUserVote"></p>
			<div id="voteContainer"> <input id = "voteButtonID" class="button is-primary"type = "button" value = "Change vote" name = "vote_button"></div>
			<div id="usersDiv">
				<p id = "usersHeader">Online Users</p>
				<ul id = onlineUsersList></ul>
			</div>
			<div id="downloadContainer">
				<input id="downloadBut" value="Download painting" type="button"></input>
			</div>
		</div>

		<!-- Use any element to open the sidenav -->
		<button id="menu" class="button is-primary"onclick="openNav()">Menu</button>

		<canvas id="canvas"></canvas>
	</body>
	<script>
		var username = JSON.parse('<%- username %>');
	</script>
	<script src = "/socket.io/socket.io.js"></script>
	<script src="../scripts/canvasScript.js"> </script>
	<script src = "../scripts/userScript.js"></script>
</html>
