#canvas{cursor:url(RedBrush.gif) 5 26, auto; }
#buttons{text-align:center;}
#controlDiv{flex:1;}
#sizeDiv{display:inline-block;}
#colorDiv{display:inline-block;}
#size{margin:auto}
#Header{text-align:center; color:#6495ED}
#usersDiv{flex:1; display:flex;}
#onlineUsersList{list-style-type: none;}
#content{text-align:center; flex:3;}
#container{display: flex; width: 100%; height: 80%; margin:auto;}
#usersVotes{flex:1;display:inline-block;}
#users{flex:1;display:inline-block;}
#preview_canvas{text-align:center;}
#downloadContainer{text-align:center;}
#specificUserVote{text-align:center;}
#clearQ{text-align:center;}
#voteContainer{text-align:center;}
#menu{position:absolute;}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a, p, input, progress, ul {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
li{margin-bottom:10%; /* limit width */}
html{padding:0; margin-bottom:0;}
body {
    overflow: hidden;
    margin:0;
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}
