#canvas{border:1px solid black; display:block;margin:auto;background-color:white;}
#buttons{text-align:center;}
#controlDiv{flex:1;}
#sizeDiv{display:inline-block;}
#colorDiv{display:inline-block;}
#size{margin:auto}
#Header{text-align:center; color:#6495ED}
#usersDiv{flex:1; display:flex;}
#usersHeader{color: green; text-align:center;}
#onlineUsersList{list-style-type: none;}
#content{text-align:center; flex:3;}
#container{display: flex; width: 100%; height: 80%; margin:auto;}
#usersVotes{flex:1;display:inline-block;}
#users{flex:1;display:inline-block;}
#preview_canvas{text-align:center;}
#downloadContainer{text-align:center;}
#downloadBut{}

li{margin-bottom:10%;; /* limit width */}

body {
    background-color: white;
    font-family: Helvetica, Arial, sans-serif;
}
